<h1>Listing users</h1>

<table>
  <thead>
    
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <p><%= link_to image_tag(user.profile.url(:thumb)), user_path(id: user.username) %></p>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= link_to 'New Post', new_post_path %>
